<% for(var i = 0; i < someting.length; i++) { %>
<tr>
	<td><%= i + 1 %></td>
	<td><%= someting[i].name %></td>
	<td><%= someting[i].email %></td>
	<td><%= someting[i].gender %></td>
	<td><%= someting[i].status %></td>
	<td>
		<a
			href="/update-user?id=<%= users[i]._id%>"
			class="btn border-shadow update"
		>
			<span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
		</a>
		<a class="btn border-shadow delete" data-id="<%" ="users[i]._id%">
			>
			<span class="text-gradient"><i class="fas fa-times"></i></span>
		</a>
	</td>
</tr>
<% } %>
